# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo

# --------------------
# Virtual environments
# --------------------
venv/

# --------------------
# Datasets & large files
# --------------------
Electronics.json.gz
*.json.gz
data/
raw/